<h1>Register</h1>

<form action="<%= all_users_url %>" method= "POST">
    <label>
        Username
        <input type="text" name=user[username]>
    </label>

    <input type="submit" name="Submit">
</form>