/* PHASE 2: Notifications */
.badge {
    display: inline-block;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    padding-left: 6px;
    padding-top: 2px;
    width:16px;height:21px;
}

.dropdown {
    display: none;
    position: absolute;
}