
<div class = "masthead">
    <ul class = "language-nav">
        <li> <a>CSS</a> </li> 
        <li> <a>HTML </a> </li> 
        <li> <a>Javascript </a> </li> 
        <li><a>Ruby </a></li> 
    </ul>
    <img class = "logo" src= "assets/AA_Times_Logo.png">
    <ul class = "masthead-links">  
        <li><a>  Tuesday, October 18, 2016</a></li> 
        <li><a>  <i class="far fa-newspaper"></i><button>Today’s Paper </button></a></li> 
        <li> <a> <i class="fas fa-video"></i><button>Video</button> </a></li> 
        <li><a>  77°F </a></li> 
        <li> <a> <strong> AAO +100%  </strong> </a> </li> 
    </ul>

</div>
