<ul class = "sections-nav">
    <li> <span> World </span>  </li>
    <li> <span>San Francisco </span> </li>
    <li> <span>New York</span>  </li>
    <li> <span>Bootcamp Prep </span>  </li>
    <li><span>Jumpstart</span> </li>
    <li> <span>Online </span></li>
    <li><span> Marketing</span></li>
    <li> <span>Sales </span></li>
    <li><span> TalentMatch </span></li>
    <li> <span> Alumni </span><li>
    <li> <a> All </a></li>
</ul>
